:root {
	/* --md-icon-font: 'Material Symbols Rounded'; */

	--md-list-container-color: transparent;
	/**
	 * This is not needed anymore it seems like
	 */
	/* --md-list-item-container-color: transparent; */

	/* --mdc-theme-primary: var(--md-sys-color-primary);
	--mdc-theme-on-primary: var(--md-sys-color-on-primary); */

	/**
	 * Following rule is DEPRECATED
	 * Use it in `shared.css` inside, directly on icon elements.
	 */
	/* --md-icon-font-variation-settings: 'FILL' 1; */

	--md-elevation-level: 1;
}

body {
	margin: 0;
	font-family: roboto;

	background-color: var(--md-sys-color-surface);
	color: var(--md-sys-color-on-surface);

	overflow: hidden;
}
