:host {
	display: block;
	position: absolute;
	inset: 0;
	display: flex;
	flex-direction: column;
	max-width: 1024px;
	margin: 0 auto;
}

#path {
	background-color: var(--md-sys-color-outline);
	color: var(--md-sys-color-on-primary);
	/* padding: 2px 4px; */

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

header {
	background-color: var(--md-sys-color-surface-container);
	color: var(--md-sys-color-on-surface);
	padding: 6px 9px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
